In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import uniform

In [4]:
from pydataset import data

initiated datasets repo at: C:\Users\alexkras\.pydataset/

In [7]:
pydata = data('iris')

In [101]:
pydata.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [25]:
size = pydata.shape
size

(150, 5)

In [28]:
sample1 = pydata[:][:size[0]//2]
sample2 = pydata[:][size[0]//2:size[0]+1]

One sample T-test

In [48]:
from bioinfokit.analys import stat

res = stat()

sample=pydata
sample_size=size

In [55]:
sepal_len_mean = 5.8
res.ttest(df=sample, test_type=1, res='Sepal.Length', mu=sepal_len_mean)

In [56]:
print(res.summary)

One Sample t-test

------------------  ----------
Sample size         150
Mean                  5.84333
t                     0.640918
Df                  149
p value (one-tail)    0.26128
p value (two-tail)    0.52256
Lower 95.0%           5.70973
Upper 95.0%           5.97693
------------------  ----------

In [57]:
# access t value and p value (two-tailed)
t, p = res.result[1], res.result[3]
t, p

(0.6409183514112012, 0.5225602746220779)

### Two sample t-test (unpaired or independent t-test)

Hypotheses
<ul>
    <li>Null hypothesis: Two group means are equal</li>
    <li>Alternative hypothesis: Two group means are different (two-tailed or two-sided)</li>
    <li>Alternative hypothesis: Mean of one group either greater or lesser than another group (one-tailed or one-sided)</li>
</ul>

Assumptions<ul>
    <li>Observations in two groups have an approximately normal distribution (Shapiro-Wilks Test)</li>
    <li>Homogeneity of variances (variances are equal between treatment groups) (Levene or Bartlett Test)</li>
    <li>The two groups are sampled independently from each other from the same population</li>
    <li>Dependent variable should be continuous</li>
    <li>Population variances (σ1 and σ2) are unknown</li>
</ul>

In [99]:
sample=pydata.loc[[x in ['virginica','versicolor'] for x in pydata['Species']]]

# for unequal variance t-test (Welch's t-test) set evar=False
res = stat()
res.ttest(df=sample, xfac="Species", res="Sepal.Width", test_type=2)
print(res.summary)

Two sample t-test with equal variance

------------------  -----------
Mean diff           -0.204
t                   -3.20576
Std Error            0.0636354
df                  98
p value (one-tail)   0.00090955
p value (two-tail)   0.0018191
Lower 95.0%         -0.330282
Upper 95.0%         -0.0777175
------------------  -----------

Parameter estimates

Level         Number    Mean    Std Dev    Std Error    Lower 95.0%    Upper 95.0%
----------  --------  ------  ---------  -----------  -------------  -------------
versicolor        50   2.77    0.313798    0.0443778        2.68082        2.85918
virginica         50   2.974   0.322497    0.0456079        2.88235        3.06565

In [100]:
# t value and p value (two-tailed)
t, p = res.result[1], res.result[3]
t, p

(-3.2057607502218186, 0.0018191004238894803)

Interpretation

The p value obtained from the t-test is significant (p < 0.05), and therefore, <br>
we conclude that the Sepal.Width of "virginica" is significantly different than Sepal.Width of "versicolor"

Paired t-test (dependent t-test)
<ul>
    <li>Paired t-test used to compare the differences between the pair of dependent variables for the same subject</li>
    <li>For example, we have plant variety A and would like to compare the yield of A before and after the application of some fertilizer</li>
    <li>Note: Paired t-test is a one sample t-test on the differences between the two dependent variables</li>
</ul>

Hypotheses
<ul>
    <li>Null hypothesis: There is no difference between the two dependent variables (difference=0)</li>
    <li>Alternative hypothesis: There is a difference between the two dependent variables (two-tailed or two-sided)</li>
    <li>Alternative hypothesis: Difference between two response variables either greater or lesser than zero (one-tailed or one-sided)</li>
</ul>

Assumptions
<ul>
    <li>Differences between the two dependent variables follows an approximately normal distribution (Shapiro-Wilks Test)</li>
    <li>Independent variable should have a pair of dependent variables</li>
    <li>Differences between the two dependent variables should not have outliers</li>
    <li>Observations are sampled independently from each other</li>
    <li>Dependent variable should be continuous</li>
    <li>Population variance (σd1) for difference is unknown</li>
</ul>

In [120]:
pydata1 = data("spruce")
pydata1.head()

   chamber     ozone  id  time  wave  logsize
1        1  enriched   1   152     1     4.51
2        1  enriched   1   174     2     4.98
3        1  enriched   1   201     3     5.41
4        1  enriched   1   227     4     5.90
5        1  enriched   1   258     5     6.15

In [132]:
import pandas as pd
sample1 = pydata1.loc[pydata1['ozone']=='normal']['logsize'][:325].to_numpy()
sample2 = pydata1.loc[pydata1['ozone']=='enriched']['logsize'][:325].to_numpy()

sample = pd.DataFrame({'ozone_normal':sample1,'ozone_enriched':sample2})
sample.head()

   ozone_normal  ozone_enriched
0          4.53            4.51
1          5.05            4.98
2          5.18            5.41
3          5.41            5.90
4          5.42            6.15

In [139]:
sample.iloc[50:100]

    ozone_normal  ozone_enriched
50          6.82            6.20
51          6.76            6.19
52          4.00            4.34
53          4.50            4.95
54          4.92            5.42
55          5.44            5.97
56          5.87            6.28
57          6.02            6.50
58          6.04            6.50
59          6.11            6.79
60          6.47            6.83
61          6.61            7.10
62          6.66            7.17
63          6.70            7.21
64          6.65            7.16
65          4.73            4.59
66          5.05            5.08
67          5.33            5.36
68          5.92            5.76
69          6.01            6.00
70          6.26            6.33
71          6.26            6.34
72          6.36            6.39
73          6.49            6.78
74          6.63            6.91
75          6.92            6.99
76          6.92            7.01
77          6.92            7.05
78          5.15            4.41
79          5.63            4.56
80          6.11            4.95
81          6.39            5.23
82          6.61            5.33
83          6.82            6.13
84          6.82            6.14
85          6.95            6.36
86          7.11            6.57
87          7.44            6.78
88          7.53            6.82
89          7.46            6.81
90          7.56            6.86
91          4.10            4.24
92          4.46            4.64
93          4.84            4.95
94          5.29            5.38
95          5.48            5.48
96          5.68            5.61
97          5.68            5.63
98          5.85            5.82
99          5.99            6.18

In [130]:
res = stat()
res.ttest(df=sample, res=['ozone_normal', 'ozone_enriched'], test_type=3)
print(res.summary)

Paired t-test

------------------  -------------
Sample size         325
Difference Mean       0.288492
t                     5.56756
Df                  324
p value (one-tail)    2.71361e-08
p value (two-tail)    5.42723e-08
Lower 95.0%           0.186553
Upper 95.0%           0.390432
------------------  -------------

In [131]:
t, p = res.result[1], res.result[3]
t, p

(5.567556807738851, 5.427227519758656e-08)

Interpretation

The p value obtained from the t-test is significant (p < 0.05), and therefore, <br>
we conclude that the "logsize" of plants is significantly increased after the ozone enrichment